body {
    background-color: pink;
}

#buttons {
    padding-left: 25px;
    padding-right: 25px;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5)
}

.logo {
    float: left;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.logo:hover {
    transition: 2s;
    color: red;
    text-shadow: 2px 2px;
}

.leftMenu {
    float: left;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.leftMenu:hover {
    transition: 2s;
    color: red;
    text-shadow: 2px 2px;
}

.rightMenu {
    float: right;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.rightMenu:hover {
    transition: 2s;
    color: red;
    text-shadow: 2px 2px;
}

.holly {
    position: relative;
}

.netflix {
    display: inline-block;
}

.strong1 {
    font-size: 2rem;
}

.buttonleftdown {
    background-color: red;
    margin: 10px;
    display: inline-block;
}

.buttonleftdown2 {
    background-color: gray;
    margin: 10px;
    display: inline-block;
}

#tiledBackground {
    background: url(https://www.goodfreephotos.com/albums/united-states/california/los-angeles/hollywood-looking-down-at-los-angeles-california.jpg) no-repeat right center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px 25px;
}

#videoSection {
    width: 100%;
    background: black;
}

.row {
    width: 100%;
}

.videoBoxes {
    width: 14%;
    display: inline-block;
    margin: 2%;
    height: 150px;
}

.video1 {
    no-repeat right center fixed;
    max-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-left: 25px;
}

.video2 {
    no-repeat right center fixed;
    max-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-left: 25px;
}

.video3 {
    no-repeat right center fixed;
    max-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-left: 25px;
}

.video4 {
    no-repeat right center fixed;
    max-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-left: 25px;
}

.video5 {
    background: no-repeat right center fixed;
    max-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-left: 25px;
}

p {
    color: #FFF07C;
    background: linear-gradient(#558C8C, #00A878);
    display: inline-block;
}

p:hover {
    color: red;
    transition: 2s;
    text-shadow: 2px 2px;
}

h1 {
    color: #EDD9A3;
    background: linear-gradient(#558C8C, #00A878);
    display: inline-block;
}

h1:hover {
    color: red;
    transition: 2s;
    text-shadow: 2px 2px;
}

h2 {
    color: #EDD9A3;
    background: linear-gradient(#558C8C, #00A878);
    display: inline-block;
}

h2:hover {
    color: red;
    transition: 2s;
    text-shadow: 2px 2px;
}

h4 {
    color: #EDD9A3;
    background: linear-gradient(#558C8C, #00A878);
    display: inline-block;
}

h4:hover {
    color: red;
    transition: 2s;
    text-shadow: 2px 2px;
}

.ofan {
    line-height: 2px;
}