body {
    background-color: pink;
    background: <img src="images/holly.jpg" width=100%>;
}

#buttons {
    padding-left: 25px;
    padding-right: 25px;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5)
}

.logo {
    float: left;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.leftMenu {
    float: left;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.rightMenu {
    float: right;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.holly {
    position: relative;
}

.netflix {
    display: inline-block;
}