body {
    background-color: pink;
}

#buttons {
    padding-left: 25px;
    padding-right: 25px;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5)
}

.logo {
    float: left;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.leftMenu {
    float: left;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.rightMenu {
    float: right;
    margin: 10px;
    background-color: yellow;
    font-size: 24px;
}

.holly {
    position: relative;
}

.netflix {
    display: inline-block;
}

.strong1 {
    font-size: 2rem;
}

.buttonleftdown {
    background-color: red;
    margin: 10px;
    display: inline-block;
}

.buttonleftdown2 {
    background-color: gray;
    margin: 10px;
    display: inline-block;
}

#tiledBackground {
    background: url(https://www.goodfreephotos.com/albums/united-states/california/los-angeles/hollywood-looking-down-at-los-angeles-california.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px 25px;
}